<div class="habit-input-container">
    <h1>
        Start with a new habit today!
    </h1>
    
    <form action="/add-habit" method="post">
        <input type="text" name="habit" id="habit" required>
        <button type="submit">
            <i class="fas fa-plus-square"></i>
        </button>
    </form>

    <form action="/change-view" method="post">
        <% if(view === "Daily"){%>
            <button type="submit">
                Weekly    
            </button>
        <% } else {%>

            <button type="submit">
                Daily
            </button>

        <% } %>
    </form>

    <div class="habit-status">
        <span>
            <i class="far fa-check-circle green"></i>
            &nbsp; Done    
        </span>

        <span style="margin-left: 0.5rem;">
            <i class="far fa-times-circle red"></i>
            &nbsp; Not Done
        </span>

        <span style="margin-left: 0.5rem;">
            <i class="far fa-minus-circle yellow"></i>
            &nbsp; UnMarked
        </span>
        
    </div>
</div>

<div class="habits-container">
    <ul class="habits-list">
        <% for(let habit of allHabits){ %>

            <% if(view === "Daily"){%>

                <%-include("_daily", {habit: habit});%>

            <% }else{ %>

                <%-include("_weekly", {habit: habit});%>

            <% } %>
            
        <% } %>
    </ul>
</div>
