* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  font-family: Poppins;
  min-height: 100vh;
}

body .habit-input-container {
  margin-top: 1.5rem;
  text-align: center;
}

body .habit-input-container form {
  display: flex;
  margin-top: 1.3rem;
  justify-content: center;
}

body .habit-input-container input, body .habit-input-container button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

body .habit-input-container button {
  color: #d88771;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

body .habit-input-container button:hover {
  background: #d88771;
  color: white;
}

.habit-status {
  margin-top: 1.5rem;
}

.habit-status span {
  font-size: 1.1rem;
}

.habits-list {
  margin-top: 1.5rem;
  list-style: none;
}

.habits-list li {
  margin-bottom: 0.5rem;
}

.habits-list .habit-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 25em;
  background-color: #5b4343ad;
}

.habits-list .habit-item .habit-name {
  padding: 0 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.habits-list .habit-item button {
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
}

.weekly-habit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #5b4343ad;
}

.weekly-habit-item button {
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
}

.weekly-habit-item .previous-dates-status {
  display: flex;
}

.weekly-habit-item .previous-dates-status .card {
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

.weekly-habit-item .previous-dates-status .card .dates {
  background-color: red;
  padding: 0.4rem;
}

.weekly-habit-item .previous-dates-status .card .date-status {
  padding: 0.4rem;
  background-color: black;
}

.red {
  color: red;
}

.green {
  color: lawngreen;
}

.yellow {
  color: yellow;
}
